body{
  background-color: rgba(32,33,36,1);
  color: white;
  font-family: Arial sans-serif;
}

h1{
  font-size: 60px;
}

a{
  display: inline;
  text-decoration-line: none;
  font-size: 13px;
  margin: 6px;
}


#pmenu {
  text-align:end;
  white-space: nowrap ;
   /* To prevent wrapping of menu items */
}

.text-hyper-menu{
  color: white;
}

.text-hyper-footer{
  color: white;
}


#img-labs img {
  vertical-align: middle; /* Vertically center the image */
  max-height: 1.5em;
}

#img-user img {
  vertical-align: middle; /* Vertically center the image */
  max-height: 1.7em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#container{
  text-align: center;
}

#search-zone{
  height: 28px;
  display: flex;
  align-items:center;
  justify-content:space-around;
  background: transparent;
  background-color: #444746;
  padding: 0 8px 0 0;
  min-height: 44px;
  border: 1px solid transparent;
  border-radius: 24px;
  margin: 0 auto;
  
}

.search-bar{
  background-color: #444746;
  border: none;
  min-width: 80px;
  padding: 0;
}


.search-icone-zone{
  display: flex;
}

.search-bar:hover{
  background-color: #8a8f8d;
}

#search-zone:hover{
  background-color: #8a8f8d;

}

.search-icons{
  height: 15px;
}


#final{
  display: flexbox;
  text-align: center;  
}