body{
  background-color: rgba(32,33,36,1);
  color: white;
  font-family: Arial sans-serif;
}

h1{
  font-size: 60px;
}

a{
  display: inline;
  text-decoration-line: none;
  font-size: 13px;
  margin: 6px;
}


#pmenu {
  text-align:end;
  white-space: nowrap ;
   /* To prevent wrapping of menu items */
}

.text-hyper-menu{
  color: white;
}

.text-hyper-footer{
  color: white;
}


#img-labs img {
  vertical-align: middle; /* Vertically center the image */
  max-height: 1.5em;
}

#img-user img {
  vertical-align: middle; /* Vertically center the image */
  max-height: 1.7em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#search{
  text-align: center;
  color: white;
}

#search-bar{
  width: 250px;
  margin: auto;
  border: 1.7px solid #6e6d6d;
  border-radius: 50px;
}

#final{
  display: flexbox;
  text-align: center;  
}